<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Form Empleado</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Tarea Spring REST Client</a>
			</div>
			<ul type="square" class="nav navbar-nav">
				<li><a th:href="@{/rest-client/empleados}">Lista de Empleados</a></li>
				<li><a th:href="@{/rest-client/empleados/add}">Agregar Empleado</a></li>
			</ul>
		</div>
	</nav>
	
	<div class="container">
	<h1>Form Empleado</h1>
		<form action="#" class="form-horizontal" th:action="@{/rest-client/empleados}" method="POST" th:object="${empleado}">
			<input type="hidden" th:field="*{id}" /> 
			<div class="form-group">
				<label>Nombre</label>
				<div class=" col-sm-10">
					<input type="text" th:field="*{nombre}" id="nombre" />
				</div>
			</div>
			<div class="form-group">
				<label for="email">Edad</label>
				<div class=" col-sm-10">
					<input type="text" th:field="*{edad}" id="edad" />
				</div>
			</div>
			<div class="form-group">
				<label  for="comentario">Salario</label>
				<div class=" col-sm-10">
					<input type="text" id="comentario" th:field="*{salario}" />
				</div>
			</div>
			<div class="form-group">
                <div>
                    <input type="submit" value="Enviar" class="btn btn-default" />
                </div>
            </div>
		</form>
	</div>
</body>
</html>