<!DOCTYPE html>
<html>
<head>
  <title>Terminal de Autoservicio</title>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  <link th:href="@{/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/jquery/3.2.1/jquery.min.js}" rel="stylesheet" />
  <link th:href="@{/bootstrap/3.3.7/js/bootstrap.min.js}" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">ACME S.A.</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a th:href="@{/rest-client/cuentas}">Cuentas</a></li>
        <li><a th:href="@{/rest-client/transferencias}">Transferencias</a></li>
        <li class="active"><a th:href="@{/rest-client/movimientos}">Movimientos</a></li>
        <li><a th:href="@{/rest-client/logout}">Salir</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
<!--         <li><a th:href="@{/rest-client/usuarios/add}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
        <li><a th:href="@{/rest-client/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
	<div class="container-fluid hidden">
		<h2>Datos de la Cuenta</h2>
	</div>
	
	<div class="container-fluid">
		<h2>Listado de Movimientos</h2>
		<div class="table-responsive col-lg-8">
			<table class="table table-striped">
				<thead>
					<th>Id</th>
					<th>Fecha Hora</th>
					<th>Id. Cuenta</th>
					<th>Tipo Movimiento</th>
					<th>Monto</th>
				</thead>
				<tbody th:each="movimiento : ${movimientos}" > 
				<tr>
					<td th:text="${movimiento.idMovimiento}"></td>
					<td th:text="${movimiento.fechaHora}"></td>
					<td th:text="${movimiento.idCuenta}"></td>
					<td th:text="${movimiento.tipoMovimiento}"></td>
					<td th:text="${movimiento.monto}"></td>
				</tr>					
				</tbody>
			</table>
		</div>	
	</div>		
</div>
  
</body>
</html>