<!DOCTYPE html>
<html>
<head>
  <title>Terminal de Autoservicio</title>
  <meta charset="utf-8"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></menu>
  <link th:href="@{/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/jquery/3.2.1/jquery.min.js}" rel="stylesheet" />
  <link th:href="@{/bootstrap/3.3.7/js/bootstrap.min.js}" rel="stylesheet" />
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">ACME S.A.</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a th:href="@{/rest-client/cuentas}">Cuentas</a></li>
        <li><a th:href="@{/rest-client/transferencias}">Transferencias</a></li>
        <li class="active"><a th:href="@{/rest-client/movimientos}">Movimientos</a></li>
        <li><a th:href="@{/rest-client/logout}">Salir</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
<!--         <li><a th:href="@{/rest-client/usuarios/add}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
        <li><a th:href="@{/rest-client/login}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
	<div class="container-fluid">
		<h2>Parametros</h2>
		<div class="row">
			<span th:text="${error}"></span>
		</div>
		<br>
		<form id="formConsMovim" th:action="@{#}" class="form-horizontal">
			<div class="form-group form-group-lg">
				<label for="cuenta">Cuentas:</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" name="cuenta" id="cuenta" placeholder="Número de Cuenta" /> 
				</div>
			</div>
			<div class="form-group form-group-lg">
				<label for="mes">Mes:</label>
				<div class="col-sm-8">
					<input type="number" class="form-control" name="mes" id="mes" placeholder="Mes del Movimiento" /> 
				</div>
			</div>
			<div class="form-group form-group-lg">
				<label for="monto">Año:</label>
				<div class="col-sm-8">
					<input type="number" class="form-control" name="monto" id="monto" placeholder="Año del movimiento" /> 
				</div>
			</div>
			<div class="form-group form-group-lg">
			 	<div>
					<input type="submit" id="consMov" name="consMov" class="login login-submit btn btn-block btn-primary" value="Consultar Movimientos" />
				</div>
			</div>
		</form>
	</div>
</div>
  

</body>
</html>